<div layout="column" class="about" flex>
    <md-content class="page-container">
        <md-card layout-padding layout-margin flex class="page md-whiteframe-9dp">
            <h1>About Page</h1>
            <md-divider></md-divider>
            <p>The ID is: {{about.greeting.id}}</p>
            <p>The content is: {{about.greeting.content}}</p>
            <p>The role object is: {{about.greeting.role}}</p>
            <p>The role is: {{about.greeting.role.role}}</p>
            <p>Test</p>
        </md-card>
    </md-content>
</div>
