<div ng-repeat="deals in deal.allDeals | filter:d as results" class="deal-parent-panel">
    <div class="clearfix" ng-if="$index % 4 == 0"></div>
    <div class="col-sm-3 col-md-3">
        <div class="panel deal-card-panel">
            <div class="row">
                <div class="col-md-12">
                    <div class="">
                        <img src="http://placehold.it/650x450&text=Galaxy S5" class="img-responsive">
                        <div class="deal-card-banner">
                            <div class="deal-card-banner-foodtype">
                                <span class="text-center deal-card-banner-foodtype-text">{{deals.food_type}}</span>
                            </div>
                            <div class="deal-card-banner-price">
                                <span class="deal-card-banner-price-text">{{deals.price}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="caption">
                <div class="row ">
                    <div class="text-center">
                        <h5 class="deal-card-name">{{deals.deal_name}}</h5>
                    </div>
                </div>
                <div class="row deal-restaurant-row">
                    <div class="col-md-12">
                        <div class="col-md-12 col-xs-12 text-center">
                            <h6>
                                <label>{{deals.restaurant_name}}</label>
                            </h6>
                        </div>
                    </div>
                </div>
                <hr class="deal-card-hr"/>
                <div class="row deal-card-details">
                    <div class="col-md-12">
                        <div class="col-md-12 text-center">
                            <span>Date End: {{deals.date_end | date:'yyyy-MM-dd HH:mm'}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="animate-repeat panel-body" ng-if="results.length == 0">
            <strong>No results found...</strong>
        </div>
    </div>
</div>
