<div ng-repeat="deals in deal.allDeals" class="deal-parent-panel">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-2">
                    <img src="http://placehold.it/650x450&text=Galaxy S5" class="img-responsive">
                </div>
                <div class="col-md-8">
                    <h4 class="text-center">{{deals.deal_name}}</h4>
                    <h6 class="text-center">
                        <label>{{deals.restaurant_name}}</label>
                    </h6>
                    <p class="text-center">
                        <b>Food Type: {{deals.food_type}}</b>
                        <b>Date End: {{deals.date_end | date:'yyyy-MM-dd HH:mm'}}</b>
                    </p>
                </div>
                <div class="col-md-2 text-center deal-list-btn-group">
                    <div class="row">
                        <a class="btn btn-primary deal-list-btn">
                            <span class="glyphicon glyphicon-thumbs-up"></span> Like
                        </a>
                    </div>
                    <div class="row">
                        <a href="#" class="btn btn-success">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Buy
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
