<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Gnom Gnom Gnom</title>

        <!-- Bootstrap Core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="../public/build/dev/min/css/landing/agency.min.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body id="page-top" class="index">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">gnom</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="">
                            <a class="page-scroll" href="#portfolio">What is gnom?</a>
                        </li>                        
                        <li class="active">
                            <a class="page-scroll" href="#contact">Notify</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!-- Header -->
        <header>
            <div class="container">
                <div class="intro-text">
                    <div class="intro-heading">Eat the best, for much less!</div>
                    <div class="intro-lead-in">Are you ready to eat?</div>
                    <a href="#portfolio" class="page-scroll btn btn-xl">Tell Me More</a>
                    <!--<div class="col-lg-12">-->
                        <!--<form action="//facebook.us13.list-manage.com/subscribe/post?u=9eb5d3f728b313c24bfb99292&amp;id=1ce8a991be" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>-->
                            <!--<div class="row">-->
                                <!--<div class="col-md-6 col-md-offset-3">-->

                                    <!--<div class="form-group">-->
                                        <!--<input type="email" name="EMAIL" class="form-control" placeholder="Your Email" id="email" required="" data-validation-required-message="Please enter your email address.">-->
                                        <!--<p class="help-block text-danger"></p>-->
                                    <!--</div>-->

                                <!--</div>-->
                                <!--<div class="clearfix"></div>-->
                                <!--<div class="col-lg-12 text-center">-->
                                    <!--<div id="success"></div>-->
                                    <!--&lt;!&ndash; real people should not fill this in and expect good things - do not remove this or risk form bot signups&ndash;&gt;-->
                                    <!--<div style="position: absolute; left: -5000px;"><input type="text" name="b_9eb5d3f728b313c24bfb99292_1ce8a991be" tabindex="-1" value=""></div>-->
                                    <!--<button type="submit" class="btn btn-xl">Tell me when the food is done!</button>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</form>-->
                    <!--</div>-->
                </div>
            </div>
        </header>

        <!-- Features Grid Section -->
        <section id="portfolio" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">What is Gnom?</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    Check out your custom tailored menu!
                                </div>
                            </div>
                            <img src="../public/build/dev/libs/img/landing/portfolio/menu.jpg" class="img-responsive" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>The Ultimate Menu</h4>
                            <p class="text-muted">The best items at the best restaurants!</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    We help you decide what to eat!
                                </div>
                            </div>
                            <img src="../public/build/dev/libs/img/landing/portfolio/map.png" class="img-responsive" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>At your convenience</h4>
                            <p class="text-muted">Look for the restaurants nearest you!</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    Never second guess your choice!
                                </div>
                            </div>
                            <img src="../public/build/dev/libs/img/landing/portfolio/reviews.png" class="img-responsive" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Look at reviews before you decide!</h4>
                            <p class="text-muted">Real yelp reviews!</p>
                        </div>
                    </div>                    
                </div>
            </div>
        </section>
      
         <!-- Contact Section -->
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Are you ready to eat?</h2>
                        <h3 class="section-subheading text-muted">The food's still cookin'!</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <form action="//facebook.us13.list-manage.com/subscribe/post?u=9eb5d3f728b313c24bfb99292&amp;id=1ce8a991be" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    
                                    <div class="form-group">
                                        <input type="email" name="EMAIL" class="form-control" placeholder="Your Email" id="email" required="" data-validation-required-message="Please enter your email address.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    
                                </div>                                
                                <div class="clearfix"></div>
                                <div class="col-lg-12 text-center">
                                    <div id="success"></div>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_9eb5d3f728b313c24bfb99292_1ce8a991be" tabindex="-1" value=""></div>
                                    <button type="submit" class="btn btn-xl">Tell me when the food is done!</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <span class="copyright">Copyright © gnom 2016</span>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline quicklinks">
                            <li><a href="#">Privacy Policy</a>
                            </li>
                            <li><a href="#">Terms of Use</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>


        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="js/classie.js"></script>
        <script src="js/cbpAnimatedHeader.js"></script>

        <!-- Contact Form JavaScript -->
        <script src="js/jqBootstrapValidation.js"></script>
        <script src="js/contact_me.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="../public/build/dev/min/js/landing/landing.min.js"></script>

        


    </body>
</html>